In [1]:
import pandas as pd

In [6]:
# Read in the data
berlin_data = pd.read_csv('./datasets/stundenwerte_RR_00399_19950901_20110801_hist/produkt_rr_stunde_19950901_20110801_00399.txt', sep=';')
munich_data = pd.read_csv('./datasets/stundenwerte_RR_03379_19970707_20211231_hist/produkt_rr_stunde_19970707_20211231_03379.txt', sep=';')
oldenburg_data = pd.read_csv('./datasets/stundenwerte_RR_03791_19980930_20121001_hist/produkt_rr_stunde_19980930_20121001_03791.txt', sep=';')

In [10]:

print(berlin_data.head())

   STATIONS_ID  MESS_DATUM  QN_8    R1  RS_IND  WRTR  eor
0          399  1995090100     1   1.0       1  -999  eor
1          399  1995090101     1   0.6       1  -999  eor
2          399  1995090102     1   0.8       1  -999  eor
3          399  1995090103     1   2.8       1  -999  eor
4          399  1995090104     1   1.3       1  -999  eor

In [11]:
print(munich_data.head())

   STATIONS_ID  MESS_DATUM  QN_8    R1  RS_IND  WRTR  eor
0         3379  1997070719     1   0.0       0  -999  eor
1         3379  1997070720     1   0.0       0  -999  eor
2         3379  1997070806     1   0.0       0  -999  eor
3         3379  1997070807     1   0.0       0  -999  eor
4         3379  1997070808     1   0.0       0  -999  eor

In [12]:
print(oldenburg_data.head())

   STATIONS_ID  MESS_DATUM  QN_8    R1  RS_IND  WRTR  eor
0         3791  1998093012     1   0.0       0  -999  eor
1         3791  1998093014     1   0.0       0  -999  eor
2         3791  1998093015     1   0.2       1  -999  eor
3         3791  1998093016     1   0.0       0  -999  eor
4         3791  1998093017     1   0.0       0  -999  eor